.example-form {
    min-width: 150px;
   max-width: 500px;
  width: 100%;
}
 
 .input-full-width {
  width: 100%;
}
 
.mat-card-login{
  background: #e0e0e0 ;
  width:50%;

}
.main-div{
   height: 35vh;
   display: flex;
   justify-content: center;
   align-items: center;
}