<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jh</title>
</head>
<body>
  <div>Welcome {{username}}</div> 
  <a routerLink="/">Login</a>
</body>
</html>