<mat-form-field>
    <input matInput value="mess" placeholder="Message" #message>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput value="btnval" placeholder="Action" #action>
  </mat-form-field>
  
  <button mat-button  ></button>